<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Lavandería</title>    
        <meta charset="UTF-8">
        <meta name="title" content="Título de la WEB">
        <meta name="description" content="Descripción de la WEB">   
        <link href="inicio.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="imagenes" href="imagenes/logo.jpeg">
        <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="js/login.js"></script>
        
		
    </head>
    <body background="imagenes/lavanderia.jpg" style="background-repeat:no-repeat; background-size: 100% 100%; background-attachment: fixed;">
        <div ng-app="ModuleLogin" ng-controller="ControladorLogin" class="cuerpo" >
            
            <div class="fomulariocontactoL">
                
                <h2>Iniciar sesión</h2>

                <form>
                    <div class="imgcontainer">
                        <img src="imagenes/logo.jpeg" alt="Logo de la lavandería" class="avatar">
                    </div>

                    <div class="containerlogin">
                        <form>
                            <label for="uname"><b>Usuario</b></label>
                            <input type="text" ng-model="datos.usuario"  placeholder="Correo Electrónico" name="uname" required>

                            <label for="psw"><b>Contraseña</b></label>
                            <input type="password" ng-model="datos.password" placeholder="Contraseña" name="psw" required>
                            <!--<p class="olvido"><a href ="#">Se me olvido la contraseña</a></p>-->
                            <input type="submit" ng-click="postdata()" value="Aceptar" class="aceptar">
                            <label style="color:red"><b>{{msj}}</b></label>
                            
                            <!--<label>
                                <input type="checkbox" checked="checked" name="remember"> Recuerdame
                            </label>-->
                        </form>
                        
                    </div>

                </form>
            </div>
        </div>

        
    </body>
</html>